#Yield {
  margin-bottom: 2rem;

  #YieldTable {

    caption {
      background: #eee;
      padding: 0.3rem;
      border: 1px solid #333;
    }
    
    td.revenue {
      width: 400px;
      border: none;
    }

		td.reducedQuestion {
			width: 54%;
		}

		td.reducedAnswer {
			width: 46%
		}

    @media screen and (max-width: 1050px) {
      td {
        width: 50%;
      }
    }

    @media screen and (min-width: 1051px) {
      td {
        width: 30%;
      }
    }
  }

  #ChartTable {
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    color: #444;
    border: 1px solid #ddd;

    td {
      width: 25% !important;

      &.selected {
        background: yellow;
      }
    }
  }

  #RevenueGraph {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }

  table.sare {
    margin: auto;
    width: 40rem;
    outline: 1px solid #888;
    margin-bottom: 1rem;
    border: none;

    * {
      border: none;
    }

    caption {
      padding: 0.5rem;
    }

    td:nth-child(n + 2) {
      text-align: center;
    }

    th {color: white;}
    th:nth-child(n + 2) {
      width: 11rem;
    }

    th:nth-child(2) {background: #48742c;}
    th:nth-child(3) {background: #688cd4;}
    th:nth-child(4) {background: #c85c14;}

    td:nth-child(2) {background: #c8e4b4;}
    td:nth-child(3) {background: #b8c4e4;}
    td:nth-child(4) {background: #ffccac;}

    tfoot {
      font-style: italic;
      font-size: 90%;
    }
  }
}