#Revenue {
  // table {
  //   min-width: 20rem;
  // }

  // .level0 td {
  //   border-top: 1px solid #666;
  // }

  // .level0, .level1 {
  //   font-weight: bold;
  // }

  // .color0 td:nth-child(2) {
  //   background: #99f;
  // }

  // .color1 td:nth-child(2) {
  //   background: #bbf;
  // }

  // .color2 td:nth-child(2) {
  //   background: #ccf;
  // }

  // .color3 td:nth-child(2) {
  //   background: #ddf;
  // }

  // .color4 td:nth-child(2) {
  //   background: #eef;
  // }
  
  // td:nth-child(1) {
  //   width: 20rem;
  // }

  // td:nth-child(n + 2) {
  //   text-align: right;
  //   width: 8rem;
  // }

  tr > :nth-child(1),
  tr > :nth-child(3),
	tr > :nth-child(4),
	tr > :nth-child(6) {
    border-right: 2px solid #666;
  }

	tr > :nth-child(2),
  tr > :nth-child(5) {
    border-right: 1px solid #666;
  }

  .test-buttons button {
    text-align: left;
  }
}
