.dollar {
  padding-left: 1rem !important;
  vertical-align: middle;
}

.dollar::before {
  content: "$";
  position: absolute;
  left: 0;
  top: 0.3rem;
}

.inputs {
  position: relative;
}

body.debug .input[id]::before {
  content: attr(id);
  white-space: pre;
  font: 10px arial;
  color: brown;
  padding: 0.3rem;
  opacity: 0.8;
}

::after {
  content: attr(data-suffix);
  position: absolute;
  left: calc(100% + 0.3rem);
  top: 0.3rem;
}

:-webkit-autofill {
  -webkit-transition-delay: 9999999s;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.default {
  background: #dfd;
}