.percent > div {
  display: inline-block;
  padding: 0.5em 0;
  text-align: center;
}

.percent {
  padding-right: 1rem !important;
}

.percent::after {
  content: "%";
  position: absolute;
  left: calc(100% - 0.8rem);
  top: 0.3rem;
}

.dollar {
  padding-left: 1rem !important;
  vertical-align: middle;
}

.dollar::before {
  content: "$";
  position: absolute;
  left: 0;
  top: 0.3rem;
}

.suffix {
  display: inline-block;
  position: absolute;
  margin-left: 0.2rem;
  margin-top: 0.3rem;
}

.info {
  font-size: 0.8rem;
  position: absolute;
  background: #f4f4f4;
  z-index: 999;
  padding: 0.5rem;
  border: 1px solid #555;
  transform: translate(8rem, calc(-50% - 1.2rem));
  max-width: 20rem;
  display: none;
  /* margin-right: -10%; */
  /* margin-bottom: -30%; */
}

.info::before {
  position: absolute;
  content: "<";
  top: calc(50% - 1.2rem);
  left: -0.9rem;
  font-size: 1.5rem;
}

.inputs {
  position: relative;
}

*:focus-within ~ .info {
  display: block;
}

*:focus-within ~ .help {
  zdisplay: none;
}

body.debug .input[id]::before {
  content: attr(id);
  white-space: pre;
  font: 10px arial;
  color: brown;
  padding: 0.3rem;
  opacity: 0.8;
}
