@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

html {
  background: #bbb;
  font-size: 15px;
  background: linear-gradient(to bottom, #ddd, #888);
  height: 100vh;
}

.mobile {display: block;}
.desktop {display: none;}
.desktop2 {display: none;}

#Container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 1100px;
  margin: auto;
}

@media screen and (min-width: 1050px) {
  .mobile {display: none;}
  .desktop {display: initial;}
}

@media screen and (min-width: 1250px) {
  .desktop2 {display: initial;}

  #Container {
    max-width: 1000px;
    transform: translateX(-114px);
  }
}

nav {
  color: #eee;
  padding: 0.5rem;
  background-color: rgba(30, 30, 30, 0.8);
  z-index: 1;
  position: relative;
  
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .mobile h1 {
    justify-content: left;
  }

  img {
    width: 35px;
    object-fit: contain;
    filter: invert(1);
    margin-right: 0.2rem;
  }

  .MuiButtonBase-root {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    margin-right: 0.4rem;
    border-radius: 10px;
    padding: 0 0.5rem;
    text-transform: none;
    font-size: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 3rem;
    line-height: 1.2rem;
    min-width: 0;

    &.selected {
      color: rgba(3, 3, 3) !important;
      background: #eee;
    }

    &:not(.selected):hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &.Field {
      width: 4rem;
    }

    &.summary {
      height: 2rem;
      color: yellow;
    }

    &:not(.summary) {
      max-width: 6rem;
    }

    &.Feedback {
      position: absolute;
      top: 0.5rem;
      right: 0;
      float: right;
      background: #8888aa;
      color: white;
    }

    &.disabled {
      position: relative;
      &:hover {
        &::before {
          content: "To continue, please select your location, and enter acres, crop, labor value, and diesel price.";
          position: absolute;
          left: calc(100% + 12px);
          width: 10rem;
          display: block;
          background: lightyellow;
          color: #444;
          font-size: 80%;
          padding: 0 0.5rem;
          border-radius: 5px;
          z-index: 999;
          line-height: 0.9rem;
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: calc(100% + 8px);
          transform: translate(-50%, -50%);
          border-style: solid;
          border-width: 6px 6px 6px 0;
          border-color: transparent lightyellow transparent transparent;
        }
      }
    }
  }
}

div.table {
  display: table;
}

div.table > div:not(.caption) {
  display: table-row;
}

div.table > div > * {
  display: table-cell;
}

div.caption {
  display: table-caption;
  text-align: center;
}

caption {
  font-weight: bold;
}

.th,
th {
  text-align: center;
  background: #eee;
}

table {
  border: 1px solid black;
  border-spacing: 0;
  empty-cells: show;
  position: relative;

  caption {
    min-height: 1.5rem;
  }
}

td,
th {
  padding: 0.2em 0.5em;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
}

.Total {
  font-weight: bold;
}

label {
  cursor: pointer;
}

.hidden {
  display: none;
}

li.selected,
button.selected {
  color: #246;
  background: #ccc;
}

li.selected {
  font-weight: bold;
}

[inputmode='numeric'] {
  border: none;
  font-size: 110%;
  border-bottom: 1px solid silver;
  background: transparent !important;
  text-align: right;
  max-width: 8em;
  outline: none;
}

[inputmode='numeric']:focus {
  transition: all 0.2s;
  border-bottom: 2px solid navy;
}

.MuiListSubheader-root {
  background: #246 !important;
  color: #eca !important;
  font-style: italic;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  line-height: 1.5em !important;
}

.MuiButton-label {
  text-transform: none;
}

#Navigation {
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  background: #ccc;
  button {
    margin-right: 2rem;
    background: #6b9333;

    @media screen and (max-width: 1045px) {
      font-size: 0.64rem;
    }
  }

  // @media screen and (max-width: 1045px) {
  //   // bottom: 0px;
  //   // left: 0px;
  //   // right: 0px;
  //   // position: absolute;
  //   // z-index: 999;
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;
  //   height: -webkit-fill-available;
  // }
}

.MuiSelect-root * {
  width: 100% !important;
  display: none !important;
}

table.seedbed td:nth-child(1),
table.planting td:nth-child(1) {
  width: 30rem;
}

table.seedbed td:nth-child(2),
table.planting td:nth-child(2) {
  width: 30rem;
}

tr.seedbedTotal,
tr.plantingTotal,
.total {
  background: yellow;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.inputs {
  width: 100% !important;
  max-width: 1000px;
}

.inputs td:nth-child(1) {
  width: 50%;
}

.MuiAutocomplete-inputRoot {
  padding: 0 !important;
}

.loading {
  margin: 0.5rem;
}

.link {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.warning {
  color: red;
  font-size: 90%;
}

.clearInputs {
  position: absolute !important;
  right: 0;
  font-size: 0.6rem !important;
  padding: 0.2rem 0.3rem !important;
}

th {
  position: relative;
  vertical-align: top;
}

u {
  text-decoration: none;
  border-bottom: 1px solid #777;
}

body.hotkeys u {
  border-bottom: 1px solid #ddd;
}

button.selected u {
  border-bottom: none;
}

.MuiIcon-root {
  opacity: 0.6;
  cursor: pointer;
  color: #444;
}

#PSALogo {
  position: absolute;
  filter: invert(0.3);
  top: 0rem;
  right: 0;
  width: 8rem;
}

summary {
  cursor: pointer;
}

#Main {
  padding: 0 0.5rem;
  background: white;
  height: 100%;
  overflow: auto;
  z-index: 1;

  // @media screen and (max-width: 1045px) {
  //   max-height: -webkit-fill-available;
  // }
}

h1 {
  font-size: 1rem;
}

.cursor {
  display: block;
  text-align: center;
  transform: translateY(-0.5rem);
  cursor: grab;
  background: #ddd;
  padding: 0.3rem;
  border: 1px solid #aaa;
  border-radius: 6px;
}

#ToggleMap {
  position: fixed;
  right: 0.3rem;
  top: 0.3rem;
  background: rgba(220, 220, 220, 0.8);
  text-transform: none;
}

.MuiIcon-root {
  font-size: 1.2rem !important;
  color: green;
}

td > p:first-child {
  margin-top: 0;
}

.grid2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  border: 1px solid #666;
}

.grid2 > div {
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #ddd;
  padding: 0.5rem;
}

.grid2 header {
  grid-column: 1 / 3;
  text-align: center;
  background: #eee;
  padding: 0.5rem;
  position: relative;
  border-bottom: 1px solid #bbb;
  font-weight: bold;
}

div[hidden] + div,
.stop ~ * {
  display: none;
}

.grid2 .colspan {
  grid-column: 1 / 3;
  padding: 0.5rem;
  border-bottom: 1px solid #bbb;
}

.expand {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 25px;
  line-height: 1.4rem;
  background: white;
  color: black;
  padding: 0.2rem;
  z-index: 1;
  cursor: pointer;
}

/* pushpin for autocomplete
li::before {
  content: "\1F4CC";
  margin-right: 0.5rem;
}
*/

.dropdown {
  display: none;
  // @media screen and (min-width: 1045px) {
  //   display: none;
  // }
}

#Container a {
  text-decoration: none;
}

#AirTables {
  display: none;
}

body.debug #AirTables {
  display: inline;
  position: fixed;
  top: 0;
  right: 0;
}

.menu-items {
  white-space: nowrap;
  overflow-x: auto;
}

.menu-items button {
  white-space: normal;
}

.mobile-table {
  @media screen and (max-width: 1045px) {
    width: 100%;
  }
}

.mobile-table-div {
  @media screen and (max-width: 1045px) {
    width: 100vw;
    margin-left: -8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.test-buttons {
  position: fixed;
  top: 2rem;
  right: 0;
  display: flex;
  flex-direction: column;
}

body.test .test-buttons {
  display: block;
}

table.power {
  .MuiTypography-root,
  .MuiInputBase-input {
    font-size: 90%;
  }

  td:nth-child(1) {width: 40%;}
  td:nth-child(2) {width: 30%;}
  td:nth-child(3) {width: 30%;}

  > tbody > tr > th[colspan] {
    border-top: 2px solid #444;
  }
}
